<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <% if current_user %>
        <%= link_to "Sign Out", logout_path, method: "delete" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <% if current_user %>
          <h3> Submit New Link </h3>
          <%= bootstrap_form_tag url: "/links" do %>
            <%= label_tag :url %>
            <%= text_field :url, nil, placeholder: "Url" %>

            <%= label_tag :title %>
            <%= text_field :title, nil, placeholder: "Title" %>

            <%= submit_tag "Submit" %>

          <% end %>
        <% end %>
        <h1> Index of Links </h3>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
